# Copyright 2021 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  generate-self-signed-certificates:
    type: boolean
    default: false
    description: |
      This feature is deprecated, please use the self-signed-certificates operator.
      
      Generate self-signed certificates and ignores provided certificates.
  ca-common-name:
    type: string
    default:
    description: |
      This feature is deprecated, please use the self-signed-certificates operator.
      
      Common name to be used only if `generate-self-signed-certificates` set to true.
  ca-certificate-validity:
    type: int
    default: 365
    description: |
      This feature is deprecated, please use the self-signed-certificates operator.

      CA Certificate validity (in days) only if `generate-self-signed-certificates` set to true.
  certificate-validity:
    type: int
    default: 365
    description: |
      This feature is deprecated, please use the self-signed-certificates operator.
      
      Certificate validity (in days) only if `generate-self-signed-certificates` set to true.
  certificate:
    type: string
    default:
    description: |
      Base64 encoded TLS certificate (do not use if 'generate-self-signed-certificates' is set to true).
  ca-certificate:
    type: string
    default:
    description: |
      Base64 encoded CA Certificate (do not use if 'generate-self-signed-certificates' is set to true).
  ca-chain:
    type: string
    default: ""
    description: |
      Base64 encoded CA chain (do not use if 'generate-self-signed-certificates' is set to true).
      If not provided, the ca-chain will be composed of the application and the ca-certificate.
      The `ca_chain.pem` file should have the following format:
      -----BEGIN CERTIFICATE-----
      (Your Primary SSL certificate)
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      (Your Intermediate certificate)
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      (Your Root certificate)
      -----END CERTIFICATE-----
