black
coverage[toml]
flake8-copyright
flake8-docstrings
flake8-builtins
isort
juju
macaroonbakery
mypy
pep8-naming
pyproject-flake8
pytest
pytest-asyncio
pytest-interface-tester
pytest-operator
types-PyYAML
types-setuptools
types-toml
