name: Build

on:
  workflow_call:

jobs:
  build-charm-under-test:
    strategy:
      matrix:
        arch:
          - arch: amd64
            runner: ubuntu-22.04
          - arch: arm64
            runner: [self-hosted, linux, ARM64, medium, jammy]
    runs-on: ${{ matrix.arch.runner }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup LXD
        uses: canonical/setup-lxd@main
        with:
          channel: 5.21/stable

      - name: Install charmcraft
        run: sudo snap install charmcraft --classic

      - name: Build charm under test
        run: charmcraft pack --verbose

      - name: Archive Charm Under Test
        uses: actions/upload-artifact@v6
        with:
          name: built-charm-${{ matrix.arch.arch }}
          path: "*.charm"
          retention-days: 5
